html,
body {
  font-family: "Vazir";
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 800px;
  height: 450px;
}

.zoom-lens{
  border: 2px solid rgb(243, 108, 108);
  width: 150px;
  height: 150px;
  position: absolute;
}

.zoom-result{
  width: 250px;
  height: 250px;
  position: absolute;
}