html,
body {
  direction: rtl;
  font-family: "Vazir";
  margin: 0;
}

#list {
  padding: 3rem;
}

#list:last-child {
  margin-bottom: 0;
}

.list-item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}

.list-head {
  padding: 2rem;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.list-content {
  padding-right: 2rem;
}

.list-content h4 {
  margin-bottom: 0;
}

.list-content p {
  margin-top: 0;
}

.dragElem{
  opacity: .4;
}

.list-item.over{
  border-top: 4px solid rgba(116, 192, 255, 0.685);
}